button {
    border: none;
    outline: none;
}

.btn-primary {
    cursor: pointer;
    width: auto;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
    margin: 0px 5px;
    transition: all 0.1s ease-in-out;
    border-radius: 3px;
    cursor: pointer;
}
.btn-secondary {
    cursor: pointer;
    width: auto;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
    margin: 0px 5px;
    transition: all 0.1s ease-in-out;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.6;
}
.btn-primary:hover, .btn-secondary:hover {
    background-color: #f2f2f2;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
}
.btn-primary.active, .btn-secondary.active {
    background-color: #bb83fc;
    color: white;
}

.btn-primary.active:hover, .btn-secondary.active:hover {
    background-color: #9356db;
    color: white;
}