::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #bb83fc;
}

::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

.text-editor {
    background-color:white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    margin-top: 50px;
}

.editable-div {
    width: 600px;
    height: auto;
    background-color: #fff;
    border: 1px solid #e4dede;
    overflow-x: auto;
    padding: 30px;
    font-size: 18px;
    line-height: 26px;
    box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
}

.editable-div::selection {
    background-color: #bb83fc;
}

.editable-div::moz-selection {
    background-color: #bb83fc;
}

.editable-div::webkit-selection {
    background-color: #bb83fc;
}

.span.selected {
    background-color: #bb83fc;
}

.text-editor-actions {
    background-color: white;
    box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
    border-radius: 5px;
    height: auto;
    overflow: hidden;
}

.text-editor-styling {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-editor-suggestions {
    position: relative;
    height: 100%;
    overflow: auto;
    padding: 0 20px;
}

.suggestions-preloader {
    margin-bottom: 15px;
}

.suggestions-scroll-container {
    height: 200px;
}

.suggestion {
    cursor: pointer;
    margin: 5px 0;
}

.suggestion:hover {
    color: #bb83fc;
}

.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}

.selected {
    background-color: #bb83fc;
}

/* span {
    display: inline-block;
} */